<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>文章</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>


<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-7">
        <div class="table-responsive" align="center">
            <br/>  <br/>  <br/>
            <h1 align="center">晓昕的文章列表 </h1>
            <table class="table" align="center">
                <tr>
                    <th>标题</th>
                    <th>作者</th>
                    <th>发表时间</th>
                    <th>评论数</th>
                    <th>最后评论时间</th>
                </tr>
                <tr th:each="temp:${list}">
                    <!--<th th:text="${temp.title}"></th>-->
                    <th><a href="#" th:href="@{article(id=${temp.article_author})}" th:text="${temp.article_title}"></a></th>
                    <th th:text="${temp.article_author}"></th>
                    <th th:text="${temp.article_date}"></th>
                    <th th:text="${temp.count}">0</th>
                    <th th:text="${temp.reply_date}">2018-12-20</th>
                    <!--<td><a href="#" th:href="@{Info(id=${temp.id})}">查看</a></td>-->
                    <!--<td><a href="#" th:href="@{deleteInfo(id=${temp.id})}">删除</a></td>-->
                </tr>
            </table>
        </div>



        <!--<input type="button" class="btn btn-primary btn-lg btn-block" value="添加"-->
               <!--onclick="location.href='toAddInfo'">-->

    </div>

    <!--<div class="col-md-1">-->
        <!--<div class="form-group">-->
            <!--当前账户：<p th:text="${session.rs_user.tel}">132260907777</p>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<p class="help-block"><a href="http://localhost:8080/tologin">点我下线</a></p>-->
        <!--</div>-->
    <!--</div>-->
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
</body>
</html>