<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Laoyang BBS</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/fontAwesome.css">
    <link rel="stylesheet" href="css/light-box.css">
    <link rel="stylesheet" href="css/templatemo-style.css">

    <link href="https://fonts.googleapis.com/css?family=Kanit:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>

<body>

<nav>
    <div class="logo">
        <a href="/">返回<em>大厅</em></a>
    </div>
    <!--<div class="menu-icon">-->
        <!--<span></span>-->
    <!--</div>-->
</nav>

<div class="page-heading">
    <div class="container">
        <div class="heading-content">
            <h1>角色<em>信息</em></h1>
        </div>
    </div>
</div>


<!--<div class="more-about-us">-->
    <!--<div class="container">-->
        <!--<div class="col-md-5 col-md-offset-7">-->
            <!--<div class="content">-->
                <!--<h2>关于权限管理</h2>-->
                <!--<span>是晓昕啊</span>-->
                <!--<p>在本系统中，用户依权能的大小依次分为超级管理员、管理员和普通会员三种。普通会员默认只能-->
                    <!--进行浏览和发布文章以及编辑、删除自己的文章，还有评论。管理员可以赋予或更改普通用户执行-->
                    <!--这些操作的可行性，以及赋予他们部分修改他人文章等的权利。而超级管理员则可以赋予管理员管-->
                    <!--理用户权限的权限。-->
                    <!--<br><br>-->
                    <!--权限的赋予及剥除必须是对权能低于自己的对象进行。例如，超级管理员只能管理管理员和普通用-->
                    <!--户的权限，而不能管理另一个超级管理员的权能。超级管理员由系统自带，不予注册，不予赋权生成。-->
                    <!--有哪些权限？-->
                <!--<div class="table-item premium-item">-->
                    <!--<ul>-->
                        <!--<li>管理管理员</li>-->
                        <!--<li>管理角色</li>-->
                        <!--<li>发布文章</li>-->
                        <!--<li>评论文章</li>-->
                        <!--<li>修改自己文章</li>-->
                        <!--<li>修改他人文章</li>-->
                        <!--<li>编辑自己文章</li>-->
                        <!--<li>编辑他人文章</li>-->
                        <!--<li>删除自己文章</li>-->
                        <!--<li>删除他人文章</li>-->
                    <!--</ul>-->
                <!--</div>-->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->


<div class="pricing-tables">
    <div class="container">
        <div class="col-md-4 col-sm-6"></div>
        <div class="col-md-4 col-sm-6">
            <div class="table-item premium-item">
                <h4 th:text="${myRole.getRole()}">角色名称</h4>
                <span th:text="'角色等级：'+${myRole.getLevel()}">超级管理员</span>
                <!--<ul>-->
                <!--<li>管理员管理</li>-->
                <!--<li>评论管理</li>-->
                <!--<li>发布文章</li>-->
                <!--<li>编辑文章</li>-->
                <!--<li>删除文章</li>-->
                <!--</ul>-->

                <table class="table" th:align="center">
                    <tr th:each="temp:${myPermission}" th:align="center">
                        <th th:text="${temp}" th:align="center"></th>
                    </tr>
                </table>
                <div class="simple-btn">
                    <a>我的权限</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6"></div>
    </div>
</div>
</div>


<!--&lt;!&ndash; Modal &ndash;&gt;-->
<!--<div id="modal" class="modal">-->
    <!--&lt;!&ndash; Modal Content &ndash;&gt;-->
    <!--<div class="modal-content">-->
        <!--&lt;!&ndash; Modal Header &ndash;&gt;-->
        <!--<div class="modal-header">-->
            <!--<div id="unlogin">-->
                <!--<h3 class="header-title">欢迎使用晓昕的系统</h3>-->
                <!--<br><br>-->
                <!--<h4><a href="/tologin">点我登陆</a></h4>-->
                <!--<br><br>-->
                <!--<h4>没有账号？</h4>-->
                <!--<br><br>-->
                <!--<h4><a href="/toregister">点我注册</a></h4>-->
            <!--</div>-->
            <!--<div class="close-btn"><img src="img/close_contact.png" alt=""></div>-->
        <!--</div>-->

    <!--</div>-->
<!--</div>-->

<!--<section class="overlay-menu">-->
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="main-menu">-->
                <!--<ul>-->
                    <!--<li>-->
                        <!--<a href="/">系统首页</a>-->
                    <!--</li>-->

                    <!--<li>-->
                        <!--<a href="/toarticle">所有文章</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="/tomyarticle">我的文章</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="/topermission">权限管理</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="/tologin">登陆</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="/toregister">注册</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="/tologout">登出</a>-->
                    <!--</li>-->
                <!--</ul>-->
                <!--<p>may you happy to use laoyang's bbs</p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</section>-->


<script src="https://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

<script src="js/vendor/bootstrap.min.js"></script>


<script src="bootstrap-select-1.13.0-dev/dist/js/bootstrap-select.js"></script>
<link rel="stylesheet" href="bootstrap-select-1.13.0-dev/dist/css/bootstrap-select.css">

<script src="js/plugins.js"></script>
<script src="js/main.js"></script>

</body>
</html>